/* File: styles.css */

h1 {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.2;
}

body > div > h1 {
    color: #000000;
    font-size: 32px;
    margin-bottom: 12px;
}

.section-condensed h1 {
    color: #000000;
    font-size: 16px;
}

.order-form h1 {
    font-family: Helvetica, sans-serif;
    color: #333333;
    text-decoration: underline;
}