/**
 * This file contains styles for basic heading elements.
 */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 6px;
    margin-left: 12px;
    margin-right: 6px;
    margin-top: 12px;
}
/**
 * This file contains styles for list elements.
 */
ul {
    list-style-type: none;
    padding-bottom: 12px;
    padding-left: 0;
    padding-top: 12px;
    padding-right: 0;
}
