/**
 * CSS Reset
 */
* {
	box-sizing: border-box;
}

html, body {
	background-color: #FFFFFF;
	color: #525252;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

main {
	padding-top: 72px; /* to account for the fixed header */
}


@media (max-width: 768px) {
	main {
		padding-top: 96px;
	}
}
