/**
 * This file contains styles for basic heading elements.
 */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 6px;
    margin-left: 12px;
    margin-right: 6px;
    margin-top: 12px;
}

@media (min-width: 480px) {
	h1 {
		font-size: 28px;
	}
}