* {
  behavior: url(../js/boxsizing.htc);
}
h1,
h2,
h3,
h4,
fieldset {
  max-width: 100%;
}
.nav-item,
.tab-group > .tab,
.tab-group > .tab-active,
.tab-group-secondary > .tab,
.tab-group-secondary > .tab-active {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.call-to-action-image {
  height: auto !important;
  max-width: 39.66666667% !important;
}
.call-to-action-text {
  max-width: 56.33333333% !important;
}
.header-global {
  border-bottom: 1px solid #525252;
}
.resident {
  float: left !important;
  padding-left: 12px;
  padding-right: 12px;
  width: 25%;
}
.resident .resident-image {
  text-align: center !important;
}
.resident dt,
.resident dd {
  float: left !important;
}
.resident dt {
  font-weight: bold;
  margin-right: 6px;
}
.resident .resident-detail {
  display: block !important;
  float: none !important;
  text-align: left;
  width: 100% !important;
}
