/**
 * This file contains styles for list elements.
 */
ul {
	list-style-type: none;
	padding-bottom: 12px;
	padding-left: 0;
	padding-top: 12px;
	padding-right: 0;
}

@media (min-width: 480px) {
	ul {
		font-size: 18px;
	}
}