<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./credit-assets/CSS/abstract.css">
	<style>
		.advise_level {
			float: left;
			width: 50%;
			padding-right: 30px;
			padding-bottom: 10px;
		}

		.advise_level_no_risk {
			list-style: none;
			float: none;
			padding-bottom: 0px;
			color: #333333;
		}

		.advise_level_notice {
			list-style: none;
			float: none;
			padding-bottom: 0px;
			color: #cf3237;
		}

		.high_risk_color {
			text-align: right;
			color: #cf3237;
		}

		.mid_risk_color {
			text-align: right;
			color: #fe7d37;
		}

		.low_risk_color {
			text-align: right;
			color: #ffb900;
		}

		.no_risk_color {
			text-align: right;
			color: #333333;
		}

		.agree_color {
			text-align: right;
			color: #333333;
		}

		.reconsider_color {
			text-align: right;
			color: #ffb900;
		}

		.refuse_color {
			text-align: right;
			color: #cf3237;
		}

		.desc-container .desc-title-intro {
			text-align: center;
			font-weight: 600;
			font-size: 20px;
			height: 30px;
			color: #666;
			font-family: Microsoft YaHei;
			margin-bottom: 10px;
		}

		.desc-container .desc-info-intro {
			margin: 0 auto;
			width: 100%;
			font-size: 15px;
			color: #767676;
			line-height: 30px;
			text-align: center;
		}
	</style>
	<script src="./credit-assets/utils/echarts.js"></script>
</head>

<body>
	<!-- 首页封面 -->
	<div class="paper-cover page-break-after page-start">
		<div class="logo-container">
			<div class="logo"></div>
			<div class="logo-info">详细了解企业信用&nbsp;尽在百融征信</div>
		</div>
		<div class="chapter-title-container">
			<div class="title">企业信用报告 - 专业版</div>
			<div class="sub-title">本报告生成时间: <span th:text="${#dates.format(new java.util.Date(), 'yyyy-MM-dd HH:mm:ss')}"></span></div>
			<div class="sub-title">您所看到的报告内容为截止至该时间点该公司的百融征信数据快照</div>
		</div>
		<div class="cover-front-image"></div>
		<div class="cover-front-footer">
			<div>中国企业信用档案库尽在</div>
			<div>百融征信</div>
		</div>
	</div>
	<div class="page-break-after page-start">
		<div class="company-name" th:text="${name !=null and name !=''} ? ${name} : ''" >福建众和股份有限公司</div>
		<th:block th:each="one : ${value}">
			<div th:if="${#strings.equals(one.type,'_CATALOG')}" th:text="${one.containsKey('value') } ? ' '+${one.value} : ''"  class="menu-title" >目录</div>
			<th:block th:if="${#strings.equals(one.type,'CATALOG')}" th:each="two : ${one.value}" >
				<!--目录-->
				<div class="menu-content-title">
					<div class="title" th:text="${two.containsKey('name') and two.name!= null and two.name!= ''} ? ${two.name} : ''">企业综合策略建议</div>
					<div class="menu-content-wire"></div>
				</div>
				<th:block th:if="${two.containsKey('value') }">
					<div class="menu-content-line" th:each="child : ${two.value}">
						<span class="menu-content-line-item" th:text="${child.containsKey('name') and child.name!= null and child.name!= ''} ? ${child.name} : ''">基本信息</span>
						<th:block th:if="${child.containsKey('value')}" >
							<span class="menu-content-line-item" th:each="item : ${child.value}" th:text="${item !=null and item!=''} ? ${item} : ''">工商照面信息</span>
						</th:block>
					</div>
				</th:block>
			</th:block>
			<div class="category-title" th:if="${#strings.equals(one.type,'ADVISE')}" >
				<!--建议策略-->
	<span  th:text="${one.value.name !=null and one.value.name !=''} ? ${one.value.name} : ''">建议策略:</span>
				<span style="color:#00c36d;" th:if="${#strings.equals(one.value.value,'通过') or #strings.equals(one.value.value,'暂无风险')}" th:text="${one.value.value}"></span>
				<span style="color:#42a7ff;" th:if="${#strings.equals(one.value.value,'复议') or #strings.equals(one.value.value,'低风险预警')}" th:text="${one.value.value}"></span>
				<span style="color:#c02e34;" th:if="${#strings.equals(one.value.value,'拒绝') or #strings.equals(one.value.value,'高风险预警')}" th:text="${one.value.value}"></span>
				<span style="color:#c02e34;" th:if="${#strings.equals(one.value.value,'-') or #strings.equals(one.value.value,'中风险预警')}" th:text="${one.value.value}"></span>	
	</div>
			<div th:if="${#strings.equals(one.type,'RADAR') and one.containsKey('value') and one.value.containsKey('radarMax')
					and one.value.containsKey('radarValue')}">
				<!-- 雷达图-->
				<div style="display:none;" id="radarMax" th:text="${one.value.radarMax}">雷达图最大值</div>
				<div style="display:none;" id="radarValue" th:text="${one.value.radarValue}">雷达图实际值</div>
				<div id="category-radar" class="category-radar">雷达图</div>
			</div>
			<div th:if="${#strings.equals(one.type,'ONE_LVL_CATALOG')}" th:text="${one.containsKey('value') } ? ' '+${one.value} : ''" class="page-break-before chapter-title" >企业详细信息-一级标题</div>
			<div th:if="${#strings.equals(one.type,'TWO_LVL_CATALOG')}" class="first-order-title-table-block">
				<span  th:text="${one.containsKey('value') } ? ' '+${one.value} : ''">基础信息-二级标题</span>
				<div class="first-order-title-line"></div>
			</div>
			<th:block th:if="${#strings.equals(one.type,'THD_LVL_CATALOG')}" >
				<span class="second-straight-line"></span>
				<div class="second-order-title-table-block" th:text="${one.containsKey('value') } ? ' '+${one.value} : ''">
					工商基本信息-三级标题
				</div>
			</th:block>
			<div class="title-for-table" th:if="${#strings.equals(one.type,'TITLE_FOR_TABLE')}" th:text="${one.value !=null and one.value !=''} ? ${one.value} : ''">规则命中统计</div>
			<div  th:if="${#strings.equals(one.type,'COMPANY_RULE_COUNT_REMARK')}"  class="title-for-table ">
				<span th:text="${one.value.name !=null and one.value.name !=''} ? ${one.value.name} : ''">企业命中规则数：40条</span>
				<span class="description" th:text="${one.value.otherInfo !=null and one.value.otherInfo !=''} ? ${one.value.otherInfo} : ''">备注："-"表示未正常入参</span>
			</div>


            <table class="table-margin" th:if="${#strings.equals(one.type,'ADVISE_LEVEL') and one.value.containsKey('head') and one.value.containsKey('body')}">
                <!--列表单列展示-->
                <thead>
                <tr>
                    <th:block th:each="i,oStat : ${one.value.head}">
                        <th:block th:if="${#strings.equals(i,'高风险预警')}">
                            <th class="high_risk_color" th:text="${i}"></th>
                        </th:block>
                        <th:block th:if="${#strings.equals(i,'中风险预警')}">
                            <th class="mid_risk_color" th:text="${i}"></th>
                        </th:block>
                        <th:block th:if="${#strings.equals(i,'低风险预警')}">
                            <th class="low_risk_color" th:text="${i}"></th>
                        </th:block>
                        <th:block th:if="${#strings.equals(i,'暂无风险')}">
                            <th class="no_risk_color" th:text="${i}"></th>
                        </th:block>
                        <th:block th:if="${oStat.index<2}">
                            <th  th:text="${i}"></th>
                        </th:block>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td colspan="3">
                        <div>
                            <ul>
                                <th:block th:if="${(one.value.body==null or one.value.body.size()==0) and one.value.get('notice')==null}">
                                    <li class="advise_level_no_risk" >暂无命中风险项</li>
                                </th:block>
                                <li class="advise_level" th:each="o ,oStat : ${one.value.body}" th:text="${o}" ></li>
                                <li th:if="${one.value.get('notice')!=null}" class="advise_level_notice" th:text="${one.value.get('notice')}"></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

			<table class="table-margin" th:if="${#strings.equals(one.type,'ADVISE_HIT') and one.value.containsKey('head') and one.value.containsKey('body')}">
				<!--列表单列展示-->
				<thead>
				<tr>
					<th:block th:each="i,oStat : ${one.value.head}">
						<th:block th:if="${#strings.equals(i,'通过')}">
							<th class="agree_color" th:text="'本模块策略建议：'+${i}"></th>
						</th:block>
						<th:block th:if="${#strings.equals(i,'复议')}">
							<th class="reconsider_color" th:text="'本模块策略建议：'+${i}"></th>
						</th:block>
						<th:block th:if="${#strings.equals(i,'拒绝')}">
							<th class="refuse_color" th:text="'本模块策略建议：'+${i}"></th>
						</th:block>
                                                <th:block th:if="${#strings.equals(i,'-')}">
                                                        <th class="mid_risk_color" th:text="'本模块策略建议：'+${i}"></th>
                                                </th:block>
						<th:block th:if="${oStat.index<2}">
							<th  th:text="${i}"></th>
						</th:block>
					</th:block>
				</tr>
				</thead>
				<tbody>
				<tr >
					<td colspan="3">
						<div>
							<ul>
                                <th:block th:if="${(one.value.body==null or one.value.body.size()==0) and one.value.get('notice')==null}">
                                    <li class="advise_level_no_risk" >暂无命中风险项</li>
                                </th:block>
								<li class="advise_level" th:each="o ,oStat : ${one.value.body}" th:text="${o}" ></li>
                                                                <li th:if="${one.value.get('notice')!=null}" class="advise_level_notice" th:text="${one.value.get('notice')}"></li>
							</ul>
						</div>
					</td>
				</tr>
				</tbody>
			</table>




			<table class="table-margin" th:if="${#strings.equals(one.type,'BODY_LIST_SINGLE') and one.value.containsKey('head') and one.value.containsKey('body')}">
				<!--列表单列展示-->
				<thead>
					<tr>
						<th th:each="i : ${one.value.head}" th:text="i!= null and i!= '' ? ${i} : '暂无数据'">规则类型</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o ,oStat : ${one.value.body}">
						<th:block th:each="i : ${o}" >
							<td th:if="${#strings.equals(i,'是')}" style="color:#c02e34;">是</td>
							<td th:unless="${#strings.equals(i,'是')}" th:text="${i != null and i != '' } ? ${i} : ''"></td>
						</th:block>
					</tr>
				</tbody>
			</table>
			<table class="table-margin" th:if="${#strings.equals(one.type,'BODY_LIST_SINGLE_COLOR') and one.value.containsKey('head') and one.value.containsKey('body')}">
				<!--列表单列展示-->
				<thead>
					<tr>
						<th th:each="i : ${one.value.head}" th:text="i!= null and i!= '' ? ${i} : '暂无数据'">规则类型</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o ,oStat : ${one.value.body}">
						<th:block th:each="i : ${o}" >
							<td th:if="${#strings.equals(i,'是')}" style="color:#c02e34;">是</td>
							<td th:unless="${#strings.equals(i,'是')}" th:text="${i != null and i != '' } ? ${i} : ''"></td>
						</th:block>
					</tr>
				</tbody>
			</table>
			<table class="table-margin" th:if="${#strings.equals(one.type,'BODY_LIST_SINGLE_COLOUR') and one.value.containsKey('head') and one.value.containsKey('body')}">
				<!--列表单列-评分颜色控制-->
				<thead>
					<tr>
						<th th:each="i : ${one.value.head}" th:text="i!= null and i!= '' ? ${i} : '暂无数据'">规则类型</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${one.value.body.containsKey('name') and one.value.body.name!= null and one.value.body.name != '' } ? ${one.value.body.name} : ''"></td>
						<th:block th:if="${one.value.body.containsKey('value') and one.value.body.value>0 
							and one.value.body.containsKey('refuseStartScore') and one.value.body.containsKey('reconsideStartScore')
							and one.value.body.containsKey('agreeStartScore') and one.value.body.containsKey('agreeEndScore')}">
							<td style="color:#c02e34;"  th:if="${one.value.body.value>=one.value.body.refuseStartScore and one.value.body.value<one.value.body.reconsideStartScore}" 
							th:text="${#numbers.formatDecimal(one.value.body.value,0,2)}"></td>
							<td style="color:#42a7ff;"  th:if="${one.value.body.value>=one.value.body.reconsideStartScore and one.value.body.value<one.value.body.agreeStartScore}" 
							th:text="${#numbers.formatDecimal(one.value.body.value,0,2)}"></td>
							<td style="color:#00c36d;"  th:if="${one.value.body.value>=one.value.body.agreeStartScore and one.value.body.value<one.value.body.agreeEndScore}" 
							th:text="${#numbers.formatDecimal(one.value.body.value,0,2)}"></td>
						</th:block>
						<th:block th:unless="${one.value.body.containsKey('value') and one.value.body.value>0 
							and one.value.body.containsKey('refuseStartScore') and one.value.body.containsKey('reconsideStartScore')
							and one.value.body.containsKey('agreeStartScore') and one.value.body.containsKey('agreeEndScore')}" >
							<td style="color:#c02e34;">模型未提供完整入参</td>
						</th:block>
					</tr>
				</tbody>
			</table>
			<table class="table-margin table-double-column column-three" th:if="${#strings.equals(one.type,'BODY_LIST_DOUBLE') 
			and one.value.containsKey('head') and one.value.containsKey('body')
			and #lists.size(one.value.head)==3}">
				<!--列表双列展示-包含权重6列-->
				<colgroup>
					<col style="width: 30%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width: 30%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
				</colgroup>
				<thead>
					<tr>
						<th th:each="i : ${one.value.head}" th:text="i!= null and i!= '' ? ${i} : '暂无数据'">规则类型</th>
						<th th:each="i : ${one.value.head}" th:text="i!= null and i!= '' ? ${i} : '暂无数据'">规则类型</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o ,oStat : ${one.value.body}">
						<th:block th:if="${#lists.size(o)>1}">
							<th:block th:each="i : ${o}" >
								<th:block th:each="y : ${i}" >
									<td th:if="${#strings.equals(y,'是')}" style="color:#c02e34;">是</td>
									<td th:unless="${#strings.equals(y,'是')}" th:text="${y != null and y != '' } ? ${y} : ''"></td>
								</th:block>
							</th:block>
						</th:block>
						<th:block th:unless="${#lists.size(o)>1}">
							<th:block th:each="i : ${o}" >
								<th:block th:each="y : ${i}" >
									<td th:if="${#strings.equals(y,'是')}" style="color:#c02e34;">是</td>
									<td th:unless="${#strings.equals(y,'是')}" th:text="${y != null and y != '' } ? ${y} : ''"></td>
								</th:block>
									<td></td>
									<td></td>
									<td></td>
							</th:block>
						</th:block>
					</tr>
				</tbody>
			</table>
			<table class="table-margin table-double-column column-two" th:if="${#strings.equals(one.type,'BODY_LIST_DOUBLE') 
			and one.value.containsKey('head') and one.value.containsKey('body')
			and #lists.size(one.value.head)==2}">
				<!--列表双列展示-不包含权重4列-->
				<colgroup>
					<col style="width: 35%;">
					<col style="width: 15%;">
					<col style="width: 35%;">
					<col style="width: 15%;">
				</colgroup>
				<thead>
					<tr>
						<th th:each="i : ${one.value.head}" th:text="i!= null and i!= '' ? ${i} : '暂无数据'">规则类型</th>
						<th th:each="i : ${one.value.head}" th:text="i!= null and i!= '' ? ${i} : '暂无数据'">规则类型</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o ,oStat : ${one.value.body}">
						<th:block th:if="${#lists.size(o)>1}">
							<th:block th:each="i : ${o}" >
								<th:block th:each="y : ${i}" >
									<td th:if="${#strings.equals(y,'是')}" style="color:#c02e34;">是</td>
									<td th:unless="${#strings.equals(y,'是')}" th:text="${y != null and y != '' } ? ${y} : ''"></td>
								</th:block>
							</th:block>
						</th:block>
						<th:block th:unless="${#lists.size(o)>1}">
							<th:block th:each="i : ${o}" >
								<th:block th:each="y : ${i}" >
									<td th:if="${#strings.equals(y,'是')}" style="color:#c02e34;">是</td>
									<td th:unless="${#strings.equals(y,'是')}" th:text="${y != null and y != '' } ? ${y} : ''"></td>
								</th:block>
									<td></td>
									<td></td>
							</th:block>
						</th:block>
					</tr>
				</tbody>
			</table>
			<div class="rule-instruction" th:if="${#strings.equals(one.type,'RULE_INSTRUCTION')}" >
				<!--信用评分-区间说明-->
				<div>
					<span>[</span>
					<span th:text="${one.value.containsKey('refuseStartScore')}
													 ? ${#numbers.formatDecimal(one.value.refuseStartScore,0,0)} : '暂无数据'"></span>
					<span>,</span>
					<span th:text="${one.value.containsKey('reconsideStartScore')}
														 ? ${#numbers.formatDecimal(one.value.reconsideStartScore,0,0)} : '暂无数据'"></span>
					<span>)</span>
					<span style="color:#c02e34;">拒绝</span>
				</div>
				<div>
					<span>[</span>
					<span th:text="${one.value.containsKey('reconsideStartScore')}
														 ? ${#numbers.formatDecimal(one.value.reconsideStartScore,0,0)} : '暂无数据'"></span>
					<span>,</span>
					<span th:text="${one.value.containsKey('agreeStartScore')}
														 ? ${#numbers.formatDecimal(one.value.agreeStartScore,0,0)} : '暂无数据'"></span>
					<span>)</span>
					<span style="color:#42a7ff;">复议</span>
				</div>
				<div>
					<span>[</span>
					<span th:text="${one.value.containsKey('agreeStartScore')}
														 ? ${#numbers.formatDecimal(one.value.agreeStartScore,0,0)} : '暂无数据'"></span>
					<span>,</span>
					<span th:text="${one.value.containsKey('agreeEndScore')}
														 ? ${#numbers.formatDecimal(one.value.agreeEndScore,0,0)} : '暂无数据'"></span>
					<span>]</span>
					<span style="color:#00c36d;">通过</span>
				</div>
			</div>
			<table th:if="${#strings.equals(one.type,'BODY_LIST_OTHER')}" class="table-margin">
				<!--法人强规则特殊处理-otherInfo-->
				<thead>
					<tr>
						<span th:each="i : ${one.value.head}">
							<th th:text="i!= null and i!= '' ? ${i} : '暂无数据'"></th>
						</span>
					</tr>
				</thead>
				<tbody >
					<tr >
						<div th:each="o ,oStat : ${one.value.body}">
							<div th:each="i : ${o}">
								<td  th:if="${#strings.equals(i,'是')}" style="color:#c02e34;">是</td>
								<td  th:unless="${#strings.equals(i,'是')}" th:text="${i != null and i != ''} ? ${i} : ''"></td>
							</div>
						</div>
					</tr>
					<tr>
						<td colspan="2" th:if="${#lists.size(one.value.body)==2}" class="td-multiline">
							<span class="td-item" th:text="${one.value.containsKey('otherInfo')} ? ${one.value.otherInfo} : '' ">校验项</span>
						</td>
						<td colspan="3" th:if="${#lists.size(one.value.body)==3}" class="td-multiline">
							<span class="td-item" th:text="${one.value.containsKey('otherInfo')} ? ${#strings.replace(one.value.otherInfo,' ','&nbsp;')} : '' ">校验项</span>
						</td>
					</tr>
				</tbody>
			</table>
			<table th:if="${#strings.equals(one.type,'LIST_MAP_MAP_LOAN')}" class="table-margin">
				<!--借贷意向规则-->
				<thead>
					<tr>
						<span th:each="i : ${one.value.head}">
							<th th:text="i!= null and i!= '' ? ${i} : '暂无数据'"></th>
						</span>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o ,oStat : ${one.value.body}">
						<td th:text="${o.containsKey('name') and o.name!=null and o.name!=''} ? ${o.name} : '暂无数据'">身份证号/手机号 银行命中</td>
						<td th:if="${o.containsKey('one') and o.one.containsKey('id') and o.one.containsKey('cell')}">
							<span style="color:#c02e34;"
										th:if="${o.one.id.containsKey('isHit_M') and o.one.id.isHit_M == 1}"
										th:text="${o.one.id.containsKey('M') and o.one.id.M != null	and o.one.id.M != ''} ? ${o.one.id.M} : '-'"></span>
							<span th:unless="${o.one.id.containsKey('isHit_M') and o.one.id.isHit_M == 1}"
										th:text="${o.one.id.containsKey('M') and o.one.id.M != null	and o.one.id.M != ''} ? ${o.one.id.M} : '-'"></span>
							<span>/</span>
							<span style="color:#c02e34;" th:if="${o.one.cell.containsKey('isHit_M') and o.one.cell.isHit_M == 1}"
										th:text="${o.one.cell.containsKey('M') and o.one.cell.M != null	and o.one.cell.M != ''} ? ${o.one.cell.M} : '-'"></span>
							<span th:unless="${o.one.cell.containsKey('isHit_M') and o.one.cell.isHit_M == 1}"
										th:text="${o.one.cell.containsKey('M') and o.one.cell.M != null	and o.one.cell.M != ''} ? ${o.one.cell.M} : '-'"></span>
						</td>
						<td th:if="${o.containsKey('three') and o.three.containsKey('id') and o.three.containsKey('cell')}">
							<span style="color:#c02e34;"
										th:if="${o.three.id.containsKey('isHit_M') and o.three.id.isHit_M == 1}"
										th:text="${o.three.id.containsKey('M') and o.three.id.M != null	and o.three.id.M != ''} ? ${o.three.id.M} : '-'"></span>
							<span th:unless="${o.three.id.containsKey('isHit_M') and o.three.id.isHit_M == 1}"
										th:text="${o.three.id.containsKey('M') and o.three.id.M != null	and o.three.id.M != ''} ? ${o.three.id.M} : '-'"></span>
							<span>/</span>
							<span style="color:#c02e34;" th:if="${o.three.cell.containsKey('isHit_M') and o.three.cell.isHit_M == 1}"
										th:text="${o.three.cell.containsKey('M') and o.three.cell.M != null	and o.three.cell.M != ''} ? ${o.three.cell.M} : '-'"></span>
							<span th:unless="${o.three.cell.containsKey('isHit_M') and o.three.cell.isHit_M == 1}"
										th:text="${o.three.cell.containsKey('M') and o.three.cell.M != null	and o.three.cell.M != ''} ? ${o.three.cell.M} : '-'"></span>
						</td>
						<td th:if="${o.containsKey('six') and o.six.containsKey('id') and o.six.containsKey('cell')}">
							<span style="color:#c02e34;"
										th:if="${o.six.id.containsKey('isHit_M') and o.six.id.isHit_M == 1}"
										th:text="${o.six.id.containsKey('M') and o.six.id.M != null	and o.six.id.M != ''} ? ${o.six.id.M} : '-'"></span>
							<span th:unless="${o.six.id.containsKey('isHit_M') and o.six.id.isHit_M == 1}"
										th:text="${o.six.id.containsKey('M') and o.six.id.M != null	and o.six.id.M != ''} ? ${o.six.id.M} : '-'"></span>
							<span>/</span>
							<span style="color:#c02e34;" th:if="${o.six.cell.containsKey('isHit_M') and o.six.cell.isHit_M == 1}"
										th:text="${o.six.cell.containsKey('M') and o.six.cell.M != null	and o.six.cell.M != ''} ? ${o.six.cell.M} : '-'"></span>
							<span th:unless="${o.six.cell.containsKey('isHit_M') and o.six.cell.isHit_M == 1}"
										th:text="${o.six.cell.containsKey('M') and o.six.cell.M != null	and o.six.cell.M != ''} ? ${o.six.cell.M} : '-'"></span>
						</td>
						<td th:if="${o.containsKey('twelve') and o.twelve.containsKey('id') and o.twelve.containsKey('cell')}">
							<span style="color:#c02e34;"
										th:if="${o.twelve.id.containsKey('isHit_M') and o.twelve.id.isHit_M == 1}"
										th:text="${o.twelve.id.containsKey('M') and o.twelve.id.M != null	and o.twelve.id.M != ''} ? ${o.twelve.id.M} : '-'"></span>
							<span th:unless="${o.twelve.id.containsKey('isHit_M') and o.twelve.id.isHit_M == 1}"
										th:text="${o.twelve.id.containsKey('M') and o.twelve.id.M != null	and o.twelve.id.M != ''} ? ${o.twelve.id.M} : '-'"></span>
							<span>/</span>
							<span style="color:#c02e34;" th:if="${o.twelve.cell.containsKey('isHit_M') and o.twelve.cell.isHit_M == 1}"
										th:text="${o.twelve.cell.containsKey('M') and o.twelve.cell.M != null	and o.twelve.cell.M != ''} ? ${o.twelve.cell.M} : '-'"></span>
							<span th:unless="${o.twelve.cell.containsKey('isHit_M') and o.twelve.cell.isHit_M == 1}"
										th:text="${o.twelve.cell.containsKey('M') and o.twelve.cell.M != null	and o.twelve.cell.M != ''} ? ${o.twelve.cell.M} : '-'"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<table th:if="${#strings.equals(one.type,'REALINFO_LIST')}" class="table-margin">
				<!--实名信息验证-->
				<thead >
					<tr >
						<span th:each="i : ${one.value.head}">
							<th th:text="i!= null and i!= '' ? ${i} : '暂无数据'"></th>
						</span>
					</tr>
				</thead>
				<tbody >
					<tr  th:each="o ,oStat : ${one.value.body}">
						<td th:text="${o.containsKey('name') and o.name != null and o.name != ''} ? ${o.name} : ''">身份证关联手机个数</td>
						<td style="color:#c02e34;" th:if="${o.containsKey('isHit_M1') and o.isHit_M1 == 1}"
								th:text="${o.containsKey('M1') and o.M1 != null and o.M1 != ''} ? ${o.M1} : '-'"></td>
						<td th:unless="${o.containsKey('isHit_M1') and o.isHit_M1 == 1}"
								th:text="${o.containsKey('M1') and o.M1 != null and o.M1 != ''} ? ${o.M1} : '-'"></td>
						<td style="color:#c02e34;" th:if="${o.containsKey('isHit_M3') and o.isHit_M3 == 1}"
								th:text="${o.containsKey('M3') and o.M3 != null and o.M3 != ''} ? ${o.M3} : '-'"></td>
						<td th:unless="${o.containsKey('isHit_M3') and o.isHit_M3 == 1}"
								th:text="${o.containsKey('M3') and o.M3 != null and o.M3 != ''} ? ${o.M3} : '-'"></td>
						<td style="color:#c02e34;" th:if="${o.containsKey('isHit_M6') and o.isHit_M6 == 1}"
								th:text="${o.containsKey('M6') and o.M6 != null and o.M6 != ''} ? ${o.M6} : '-'"></td>
						<td th:unless="${o.containsKey('isHit_M6') and o.isHit_M6 == 1}"
								th:text="${o.containsKey('M6') and o.M6 != null and o.M6 != ''} ? ${o.M6} : '-'"></td>
						<td style="color:#c02e34;" th:if="${o.containsKey('isHit_M12') and o.isHit_M12 == 1}"
								th:text="${o.containsKey('M12') and o.M12 != null and o.M12 != ''} ? ${o.M12} : '-'"></td>
						<td th:unless="${o.containsKey('isHit_M12') and o.isHit_M12 == 1}"
								th:text="${o.containsKey('M12') and o.M12 != null and o.M12 != ''} ? ${o.M12} : '-'"></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${#strings.equals(one.type,'MAP')}" class="business-info table-margin" >
				<!--map格式 根据数据长度排列-->
				<th:block  th:if="${#lists.size(one.value)>0}" >
					<div th:each="item : ${one.value}" th:class="${#strings.length(item.value) >18} ? 'biz-full': 'biz-half'">
						<span th:text="${item.name !=null and item.name !=''} ? ${item.name}+':' : '暂无数据'"></span>
						<span th:text="${item.value !=null and item.value !=''} ? ${item.value} : '暂无数据'"></span>
					</div>
				</th:block>
				<div class="no-data" th:unless="${#lists.size(one.value)>0}">
					暂无数据
				</div>
			</div>
			<div class="table-margin table-th-min-width" th:if="${#strings.equals(one.type,'LIST') }">
				<table th:if="${ one.value.containsKey('head') and one.value.containsKey('body') and #lists.size(one.value.body)>0}" >
					<!--表格数据-高管信息格式-->
					<thead>
						<tr>
							<th th:each="i : ${one.value.head}" th:text="${i!= null and i!= ''} ? ${i} : '暂无数据'"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${oStat.index < 20}" th:each="o, oStat : ${one.value.body}">
							<td th:each="i : ${o}" th:text="${i!= null and i!= ''} ? ${i} : '暂无数据'"></td>
						</tr>
					</tbody>
				</table>
				<!--暂无数据-->
				<div class="no-data" th:unless="${one.value.containsKey('head') and one.value.containsKey('body') and #lists.size(one.value.body)>0}">
					暂无数据
				</div>
			</div>
			<div th:if="${#strings.equals(one.type,'LIST_MAP')}" class="table-margin">
				<table  th:if="${#lists.size(one.value)>0}" th:each="two : ${one.value}" class="table-margin table-key-test">
					<th:block th:each="three : ${two}" >
						<th:block th:if="${#lists.size(three)>1}">
							<tr>
								<th:block th:each="four : ${three}"  >
									<td th:text="${four.name !=null and four.name !=''} ? ${four.name} : '暂无数据'"></td>
									<td th:text="${four.value !=null and four.value !=''} ? ${four.value} : '暂无数据'"></td>
								</th:block>
							</tr>
						</th:block>
						<th:block th:unless="${#lists.size(three)>1}">
							<tr th:each="four : ${three}">
								<td th:text="${four.name !=null and four.name !=''} ? ${four.name} : '暂无数据'"></td>
								<td colspan="3" th:text="${four.value !=null and four.value !=''} ? ${four.value} : '暂无数据'"></td>
							</tr>
						</th:block>
					</th:block>
				</table>
				<div class="no-data" th:unless="${#lists.size(one.value)>0}">
					暂无数据
				</div>
			</div>
		</th:block>
	</div>
	<!-- 尾部封面 -->
  <div class="cover-end page-break-before page-start">
    <div class="cover-end-logo"></div>
    <div class="desc-container">
      <div class="desc-title">中国小微企业征信档案库</div>
      <div class="desc-info">核心着力于企业风控，致力于数据赋能、科技赋能，提高金融机构线上杠杆、风控效率</div>
    </div>
    <div class="qrcode-container">
      <div class="qrcode"></div>
      <div class="qrcode-desc">扫码关注百融云创公众号掌握更多数据</div>
    </div>
	  <div class="desc-container">
		  <div class="desc-title-intro">报告使用说明</div>
		  <div class="desc-info-intro">客户使用本报告，需经过被查询人授权，客户承担因授权不充分引起的任何法律责任。</div>
		  <div class="desc-info-intro" >本报告仅限客户内部使用，请妥善保管本报告，不得向任何第三方泄露或允许第三方使用本报告。</div>
		  <div class="desc-info-intro">本报告仅供参考，不作为客户决策的依据。</div>
	  </div>
  </div>
  <script  type="text/javascript" charset="utf-8" th:inline="javascript">

		var myChart = echarts.init(document.getElementById('category-radar'));
		var radarMaxHTML = document.getElementById('radarMax');
		var radarMax = null;
		if (radarMaxHTML != null) {
			radarMax = JSON.parse(radarMaxHTML.innerHTML);
		}

		var radarValueHTML = document.getElementById('radarValue');
		var radarValue = null;
		if (radarValueHTML != null) {
			radarValue = JSON.parse(radarValueHTML.innerHTML);
		}

		var option = {
			tooltip: {},
			radar: {
				name: {
					textStyle: {
						color: '#000000',
						fontSize: "16"
					}
				},
				indicator: radarMax
			},
			series: [{
				name: '雷达图',
				type: 'radar',
				areaStyle: {
					color: 'rgba(54,170,248,.4)'
				},
				lineStyle: {
					color: '#36aaf8'
				},
				itemStyle: {
					color: '#36aaf8',
					borderWidth: 4,
					borderColor: '#36aaf8',
					borderType: 'solid'
				},
				data: [
					{
						value: radarValue
					}
				]
			}]
		};
		myChart.setOption(option);
	</script>
</body>
</html>