/**
 * CSS Reset
 */
* {
	box-sizing: border-box;
}

html, body {
	background-color: #FFFFFF;
	color: #525252;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

main {
	padding-top: 72px; /* to account for the fixed header */
}


@media (max-width: 768px) {
	main {
		padding-top: 96px;
	}
}
